p:not(.cache){
    display: inline-block;
    width: 20px;
    padding: 10px;
    border-radius: 30px;
    border: solid #fff;
    text-align: center;
    margin: 10px;
    background-color: #808080;
    color: #fff;
    cursor: pointer;
}
.click:hover{
    background-color: #585858;
}
.used{
    filter: opacity(50%);
}
.cache{
    display: inline-block;
    width: 20px;
    padding: 10px;
    background-color: rgb(22, 22, 22);
    color: white;
    margin: 10px;
}